.row{
    width: 100%;
}
.key{
    width: 30%;
    float: left;
}
.value{
    width: 60%;
    float: left;
}
.clearfix{
    clear: both;
}

ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

li:not(:first-child){
    margin-top:10px;
}